<ul class="ps-4 pe-4">
    <h2>Tarifas</h2>

    <div class="overflow-auto" style="max-width: 1000px; max-height: 640px;">

        <li *ngFor="let rate of rates;" class="d-flex">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="img-fluid" src={{rate.Imagen}} alt='Imagen de la facilidad {{rate.Nombre}}'>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title fw-bold text-decoration-underline">{{rate.Nombre}}</h3>
                            <p class="card-text" style="text-align: justify;">{{rate.Descripcion}}</p>
                            <ul class="pb-2">
                                <li *ngFor="let caracteristica of rate.Caracteristicas;">
                                    <p class="card-text" style="text-align: justify;">
                                        {{caracteristica.Nombre}}</p>
                                </li>
                            </ul>
                            <p class="card-text" style="text-align: justify;">
                                <strong>Tarifa:</strong> ${{rate.Tarifa}}
                            </p>
                            <div *ngFor="let oferta of rate.Ofertas;">
                                <p class="card-text text-muted" style="text-align: justify;">{{oferta.Nombre}} del
                                    {{oferta.FechaInicio}} hasta {{oferta.FechaFin}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>

    </div>

</ul>