.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px 60 60 68px;
  gap: 10px;
  padding: 5px;
  min-height: 100vh;
}

.header {
  /*background-color: #576F72;*/

  grid-column-start: 1;
  grid-column-end: 4;

  grid-row-start: 1;
  grid-row-end: 1;
}

.lateral-menu {
  /*background-color: #576F72;*/

  grid-column-start: 1;
  grid-column-end: 1;

  grid-row-start: 2;
  grid-row-end: 2;
}

.area-publicity {
  width: 400px;
  height: 400px;
  /*background-color: #576F72;*/

  grid-column-start: 1;
  grid-column-end: 1;

  grid-row-start: 3;
  grid-row-end: 4;
}

.information {
  /*background-color: #576F72;*/

  grid-column-start: 2;
  grid-column-end: 4;

  grid-row-start: 2;
  grid-row-end: 4;
}

.footer {
  background-color : #576F72;

  grid-column-start: 1;
  grid-column-end: 4;

  grid-row-start: 4;
  grid-row-end: 4;
}
