<div class="information">
  <section class="p-3 section-text" style="text-align: justify;">
    <h1>
      ¿Cómo llegar?
    </h1>
    <div class="overflow-auto" style="max-width: 1000px; max-height: 200px;">
      <p>
        {{ubication}}
      </p>
    </div>
  </section>
</div>

<div class="information d-flex p-3">

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d11119.862798612387!2d-84.09784228617863!3d9.811239319251435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x8fa11d2c44c81b87%3A0x3af35e8221e8d2a8!2sTarbaca%2C%20San%20Jos%C3%A9!3m2!1d9.8132862!2d-84.0979479!5e0!3m2!1ses!2scr!4v1679536134653!5m2!1ses!2scr"
    width="1200" height="350" style="border:0; border-radius: 10px;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>
