<div class="d-flex pt-3 ps-3 pe-3">
  <section class="p-3 section-text" style="text-align: justify;">
    <h2>
      Sobre Nosotros
    </h2>
    <p>
      Lorem ipsum dolor sit amet, maiores ornare ac fermentum, imperdiet ut
      vivamus a, nam lectus at nunc. Cum quam euismod sem, semper ut
      potenti pellentesque quisque. In eget sapien sed, sit duis vestibulum
      ultricies, placerat morbi amet vel, nullam in in lorem vel. In molestie elit dui
      dictum, praesent nascetur pulvinar sed, in dolor pede in aliquam, risus nec
      error quis pharetra.
      Eros metus quam augue suspendisse, metus rutrum risus erat in. In
      ultrices quo ut lectus, etiam vestibulum urna a est, pretium luctus euismod
      nisl, pellentesque turpis hac ridiculus massa. Venenatis a taciti dolor
      platea, curabitur lorem platea urna odio, convallis sit pellentesque lacus
      proin. Et ipsum velit diam nulla, fringilla vel tincidunt vitae, elit turpis tellus
      vivamus, dictum adipiscing convallis magna id. Viverra eu amet sit,
      dignissim tincidunt volutpat nulla tincidunt, feugiat est erat dui tempor,
      fusce tortor auctor vestibulum.
      Venenatis praesent risus orci, ante nam volutpat erat. Cursus non mollis
      interdum maecenas, consequat imperdiet penatibus enim, tristique luctus
      tellus eos accumsan, ridiculus erat laoreet nunc.
    </p>
    <h2>Galeria</h2>
  </section>
</div>

<div class="d-flex pb-3 ps-3 pe-3">
  <div class="container p-3">
    <img class="img-fluid rounded border border-dark" src={{ImagenDefault}} alt="Default image">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mt-3 col-lg-3" *ngFor="let img of galeria;">
        <img src={{img.Imagen}} class="img-fluid rounded border border-dark" alt="image"
          (click)="showImage(img.Imagen)">
      </div>
    </div>
  </div>
</div>