*{
  color: #576F72;
}

form.form-example {
  display: table;
}

div.form-example {
  display: table-row;
}

label,
input,
button {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
