<div id="carouselExampleRide" class="carousel slide pointer-event" data-bs-ride="true">
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let publicity of publicities; let i = index" [class.active]="i === 0">
      <a href="{{publicity.descripcion}}" target="_blank">
        <img class="img-fluid" src={{publicity.imagen}} alt="Imagen de publicidad {{publicity.nombre}}">
      </a>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>
