<nav class="sidebar">

  <ul class="nav flex-column">

      <li class="nav-item">
        <a class="nav-link" href="#"> Home </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us"> Sobre Nosotros </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#"> Facilidades </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#"> Cómo llegar? </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#"> Tarifas </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#"> Reservar en línea </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#"> Contáctenos </a>
      </li>

    </ul>

  </nav>
